openapi: 3.0.3
info:
  title: searchengine API
  version: "1.0"
  description: |
    A self-hosted hybrid (BM25 + semantic) search engine, deployed as three
    independent Go binaries that share one SQL database:

    - **search-server** (public, internet-facing): the index page and the
      public `/search` API. Requires a signed-in session (see `/login`).
    - **admin-server** (internal, reached only via nginx `/admin`, `/login`,
      `/logout`): every `/admin/api/*` endpoint. Talks to crawl-server over
      the network to start/inspect crawl jobs.
    - **crawl-server** (internal only, never exposed by nginx): executes
      crawls and tracks their job state. Its `/crawl` and `/jobs*` endpoints
      are called exclusively by admin-server, via
      `internal/adapters/crawlclient`.

    All three sit behind one nginx host: `/login`, `/logout` and `/admin*`
    proxy to admin-server, everything else (including `/style.css` and
    `/search`) proxies to search-server. Session cookies are valid across
    all of them (sessions are stored in a shared `sessions` table, not
    in-process memory), so one login unlocks both the public site and the
    admin backend.

    This document covers every JSON REST endpoint across all three
    processes. Plain HTML page routes (e.g. `GET /admin/crawl`, which just
    serves a static template) are omitted -- they carry no API contract of
    their own; their pages call the JSON endpoints documented here.
  license:
    name: UNLICENSED
servers:
  - url: https://se.mo-sys.de
    description: Dev/test deployment (nginx fronts all three binaries)
  - url: http://localhost:8080
    description: Local development
tags:
  - name: search
    description: Public search (search-server)
  - name: auth
    description: Session login/logout (shared, proxied to admin-server)
  - name: admin
    description: Admin diagnostics, tuning, and content management (admin-server)
  - name: crawl-internal
    description: >-
      Crawl execution and job tracking (crawl-server). Never reachable from
      the internet -- admin-server is the only caller.
  - name: health
    description: Liveness checks (identical on all three processes)

security:
  - sessionCookie: []

paths:
  # ---------------------------------------------------------------- search
  /search:
    get:
      tags: [search]
      summary: Run a hybrid search
      description: >-
        Blends BM25 and semantic (embedding cosine-similarity) scoring.
        Query syntax supports `+required`, `-excluded`, `"exact phrase"`,
        and `site:host` terms, combinable in one query.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
          example: "raft consensus algorithm"
        - name: top_k
          in: query
          schema: { type: integer, default: 10 }
        - name: sort
          in: query
          schema: { type: string, enum: [relevance, recency], default: relevance }
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query: { type: string }
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/SearchResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ------------------------------------------------------------------ auth
  /login:
    post:
      tags: [auth]
      summary: Sign in
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username: { type: string }
                password: { type: string, format: password }
                next:
                  type: string
                  description: >-
                    Path to redirect to after a successful login. Anything
                    not starting with a single `/` (an absolute URL, or a
                    protocol-relative `//`) is ignored in favor of `/admin`,
                    to prevent an open-redirect via this field.
      responses:
        "200":
          description: Signed in; a `se_session` cookie is set.
          headers:
            Set-Cookie:
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect: { type: string, example: /admin }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Incorrect username or password.
          content:
            text/plain: { schema: { type: string } }
  /logout:
    post:
      tags: [auth]
      summary: Sign out
      description: Revokes the session named by the `se_session` cookie, if any.
      responses:
        "200":
          description: Signed out (idempotent -- succeeds even with no active session).
          content:
            application/json:
              schema:
                type: object
                properties: { ok: { type: boolean } }

  # ----------------------------------------------------------------- admin
  /admin/api/stats:
    get:
      tags: [admin]
      summary: Corpus-wide index stats
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { type: string, example: postgres }
                  total_docs: { type: integer }
                  avg_doc_len: { type: number }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/vocabulary:
    get:
      tags: [admin]
      summary: A page of the vocabulary, sortable and optionally filtered
      parameters:
        - name: limit
          in: query
          description: Items per page.
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          description: How many matching terms to skip before this page.
          schema: { type: integer, default: 0 }
        - name: search
          in: query
          description: Case-insensitive substring filter on the term.
          schema: { type: string }
        - name: sort
          in: query
          description: Falls back to `doc_freq` for anything else.
          schema: { type: string, enum: [term, doc_freq, total_freq], default: doc_freq }
        - name: dir
          in: query
          description: Falls back to `desc` for anything else.
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vocabulary_size:
                    type: integer
                    description: Total distinct terms corpus-wide (unaffected by `search`).
                  matched_count:
                    type: integer
                    description: >-
                      How many terms match `search` in total, before
                      `limit`/`offset` are applied -- for computing a page
                      count. Equal to vocabulary_size when `search` is empty.
                  terms:
                    type: array
                    items: { $ref: "#/components/schemas/TermStat" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/postings:
    get:
      tags: [admin]
      summary: Every page containing one term, with a match excerpt
      parameters:
        - name: term
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          description: >-
            Caps how many postings are returned, strongest matches (highest
            term frequency) first; doc_freq in the response still reflects
            every matching document even when the list is truncated.
          schema: { type: integer, default: 500 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  term: { type: string }
                  doc_freq: { type: integer }
                  postings:
                    type: array
                    items: { $ref: "#/components/schemas/Posting" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents:
    get:
      tags: [admin]
      summary: List indexed documents, optionally narrowed to one domain
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
        - name: domain
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Document" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Remove every document in one domain
      description: >-
        Fire-and-forget: looks up the domain's document IDs, then queues
        their deletion on a background goroutine (detached from this
        request, so it keeps running even after the client disconnects)
        and returns immediately with the count queued.
      parameters:
        - name: domain
          in: query
          required: true
          schema: { type: string }
      responses:
        "202":
          description: Accepted; deletion is running in the background.
          content:
            application/json:
              schema:
                type: object
                properties: { queued: { type: integer } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents/overview:
    get:
      tags: [admin]
      summary: Summary panels for the admin Overview page
      description: >-
        Top domains, an age-of-content breakdown, the total number of
        distinct domains indexed, and how documents are distributed
        across version numbers (see Document.version).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_domains:
                    type: array
                    items: { $ref: "#/components/schemas/DomainSummary" }
                  age_buckets:
                    type: array
                    items:
                      type: object
                      properties:
                        label: { type: string, example: "last 24h" }
                        count: { type: integer }
                  total_domains:
                    type: integer
                    description: Count of distinct domains across the whole corpus (not capped, unlike top_domains).
                  version_counts:
                    type: array
                    description: How many documents currently sit at each version number, ordered by version ascending.
                    items:
                      type: object
                      properties:
                        version: { type: integer }
                        count: { type: integer }
                  stored_version_counts:
                    type: array
                    description: >-
                      How many documents currently have exactly N versions
                      actually retained in storage (the current row plus any
                      archived predecessors still in document_versions,
                      bounded by operational.max_document_versions), ordered
                      by stored_versions ascending. Distinct from
                      version_counts: a document changed 20 times sits at
                      version 20 (its version_counts bucket) but, once its
                      oldest archived rows have been pruned down to the
                      configured limit, may have far fewer than 20 versions
                      actually stored.
                    items:
                      type: object
                      properties:
                        stored_versions: { type: integer }
                        doc_count: { type: integer }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/overview/metrics:
    get:
      tags: [admin]
      summary: Operational health + trend panels for the admin Overview page
      description: >-
        Everything the Overview page shows beyond the corpus summary
        /admin/api/documents/overview already covers: crawl job/schedule
        health and DB pool utilization (pure aggregation over data other
        endpoints already expose), plus five trend/breakdown charts each
        backed by one new aggregate query -- crawl job outcomes (last 30
        days), fetch throughput by outcome (last 14 days), documents
        indexed per day (last 30 days), mean fetch duration per day (last
        14 days), and a PageRank distribution histogram with an orphan-rate
        stat. running_jobs/schedules_* are zeroed (not an error) if this
        process has no CrawlJobService/ScheduledCrawlStore configured.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OverviewMetrics" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents/{id}:
    delete:
      tags: [admin]
      summary: Remove one document
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents/{id}/versions:
    get:
      tags: [admin]
      summary: A document's superseded prior versions
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK (an empty array means it's never been re-crawled with different content)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    version: { type: integer }
                    title: { type: string }
                    doc_length: { type: integer }
                    crawled_at: { type: string, format: date-time }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/domains:
    get:
      tags: [admin]
      summary: Search crawled domains by name
      description: >-
        An empty or missing `q` returns every domain (most-documents-first,
        still capped at `limit`) rather than an empty list -- the admin
        Documents page fetches this broad batch once a search starts, then
        matches `q` as a regular expression against it client-side.
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DomainSummary" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/search:
    get:
      tags: [admin]
      summary: "Debug a query: unblended BM25/semantic scores and their full breakdown"
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: top_k
          in: query
          schema: { type: integer }
        - name: sort
          in: query
          schema: { type: string, enum: [relevance, recency] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DebugResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/settings:
    get:
      tags: [admin]
      summary: Current tuning + operational settings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Settings" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Replace tuning + operational settings
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Settings" }
      responses:
        "200":
          description: OK -- the settings as saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Settings" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/overrides:
    get:
      tags: [admin]
      summary: Current ranking overrides (blocked/boosted terms and domains)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Overrides" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Replace ranking overrides
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Overrides" }
      responses:
        "200":
          description: OK -- the overrides as saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Overrides" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/pagerank:
    get:
      tags: [admin]
      summary: PageRank distribution and algorithm configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageRankStats" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/pagerank/recompute:
    post:
      tags: [admin]
      summary: Force an immediate PageRank recomputation
      description: >-
        Runs synchronously (unlike the bulk document delete, which is
        fire-and-forget) -- an admin clicking "force recalculation" is
        waiting to see this specific run's result, not just whether it
        errored.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageRankRecomputeResult" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/database:
    get:
      tags: [admin]
      summary: Database connection, pool, and per-table row-count diagnostics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatabaseDiagnostics" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/crawl/jobs:
    get:
      tags: [admin]
      summary: List every crawl job (most recent first)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CrawlJobSummary" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/crawl/jobs/{id}:
    get:
      tags: [admin]
      summary: One crawl job's full detail, including every page event
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CrawlJob" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/crawl/jobs/{id}/cancel:
    post:
      tags: [admin]
      summary: Cancel a queued or running crawl job
      description: >-
        Stops a job that hasn't finished yet -- a job already done, failed,
        or already cancelled has nothing left to cancel.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The job exists but isn't currently queued or running.
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules:
    get:
      tags: [admin]
      summary: List every crawl (one-off and recurring)
      description: >-
        There's no separate "just start a crawl" endpoint -- every crawl,
        whether it runs once or repeats, is one of these (see
        ScheduledCrawl.recurring). crawl-server's scheduler ticker picks up
        anything due (a one-off entry is due immediately) and executes it,
        creating the CrawlJob this list's entries don't themselves track --
        see /admin/api/crawl/jobs for that.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ScheduledCrawl" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Create a crawl (one-off or recurring)
      description: >-
        `recurring: false` (the default) runs once, at `next_run_at`
        (immediately); `recurring: true` requires a positive
        `interval_minutes` and repeats forever until disabled.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledCrawlRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ScheduledCrawl" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules/{id}:
    get:
      tags: [admin]
      summary: Get one crawl's full options
      description: Backs the admin schedule-detail/edit subpage's initial load.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ScheduledCrawl" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Replace a crawl's editable fields
      description: >-
        Full replace, not a merge -- every field (credentials included) must
        be resent, or it's cleared. Reschedules it: `next_run_at` becomes
        `interval_minutes` from now for a recurring entry (immediately for
        a one-off one), same as a freshly created entry. Flipping `enabled`
        back on for an already-run one-off entry queues it to run once more.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledCrawlRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Delete a crawl
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules/{id}/run:
    post:
      tags: [admin]
      summary: Run a crawl now, outside its normal schedule
      description: >-
        Marks the schedule due immediately (`next_run_at` = now) and
        re-enables it if it was paused, without touching any other stored
        field (recurring/interval/run count/options all stay exactly as
        they were). crawl-server's own scheduler ticker picks it up on its
        next tick and creates the actual crawl job -- the same path a
        freshly created one-off crawl already goes through -- so the job
        doesn't exist yet the instant this call returns; poll
        /admin/api/crawl/jobs for it.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  # --------------------------------------------------------- crawl-internal
  # crawl-server has no HTTP entrypoint to start a crawl -- the only caller
  # is its own in-process scheduler ticker (application.TriggerDueCrawls),
  # which calls Handler.TriggerScheduledCrawl directly. /jobs* below is
  # read-only, for admin-server to poll progress on jobs the ticker started.
  /jobs:
    get:
      tags: [crawl-internal]
      summary: List every crawl job tracked by this crawl-server
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CrawlJobSummary" }
  /jobs/{id}:
    get:
      tags: [crawl-internal]
      summary: One crawl job's full detail
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CrawlJob" }
        "404": { $ref: "#/components/responses/NotFound" }

  /jobs/{id}/cancel:
    post:
      tags: [crawl-internal]
      summary: Cancel a queued or running crawl job
      description: >-
        Called only by admin-server's crawlclient.Client, never directly
        reachable from the internet.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The job exists but isn't currently queued or running.

  # ---------------------------------------------------------------- health
  /healthz:
    get:
      tags: [health]
      summary: Liveness check
      description: >-
        Identical on all three processes. Unauthenticated by design, so
        automated monitoring never needs to sign in. Reports 503 the
        instant the underlying DB ping fails.
      security: []
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties: { status: { type: string, example: ok } }
        "503":
          description: Unhealthy (DB unreachable)
          content:
            application/json:
              schema:
                type: object
                properties: { status: { type: string, example: unavailable } }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: se_session
      description: >-
        Set by POST /login. Backed by a shared "sessions" table (not
        process-local memory), so a session created via admin-server is
        also honored by search-server, and vice versa.

  responses:
    BadRequest:
      description: Invalid request
      content:
        text/plain: { schema: { type: string } }
    Unauthorized:
      description: No valid session
      content:
        text/plain: { schema: { type: string, example: "authentication required" } }
    NotFound:
      description: No resource with that ID
      content:
        text/plain: { schema: { type: string } }
    NotConfigured:
      description: This process wasn't wired up with the dependency this endpoint needs
      content:
        text/plain: { schema: { type: string } }

  schemas:
    SearchResult:
      type: object
      properties:
        url: { type: string }
        title: { type: string }
        snippet:
          type: string
          description: HTML excerpt with `<mark>` around matched terms.
        score: { type: number }
        bm25_score: { type: number }
        semantic_sim: { type: number }
        corrected_terms:
          type: array
          items: { $ref: "#/components/schemas/CorrectedTerm" }

    CorrectedTerm:
      type: object
      properties:
        original: { type: string }
        corrected: { type: string }

    TermStat:
      type: object
      properties:
        term: { type: string }
        doc_freq: { type: integer }
        total_freq: { type: integer }

    Posting:
      type: object
      properties:
        doc_id: { type: string }
        url: { type: string }
        title: { type: string }
        snippet: { type: string }
        term_freq: { type: integer }
        doc_length: { type: integer }

    Document:
      type: object
      properties:
        id: { type: string }
        url: { type: string }
        host: { type: string }
        title: { type: string }
        doc_length: { type: integer }
        version: { type: integer }
        crawled_at: { type: string, format: date-time }
        internal_links: { type: integer }
        external_links: { type: integer }
        backlinks: { type: integer }
        pagerank: { type: number }

    DomainSummary:
      type: object
      properties:
        host: { type: string }
        doc_count: { type: integer }

    DebugResult:
      description: >-
        The unblended score breakdown behind one search-debug result --
        every component that fed FinalScore, plus the tuning parameters
        that were actually in effect.
      type: object
      properties:
        doc_id: { type: string }
        url: { type: string }
        title: { type: string }
        snippet: { type: string }
        bm25_score: { type: number }
        norm_bm25:
          type: number
          description: bm25_score normalized against this search's own candidate batch.
        semantic_sim: { type: number }
        pagerank: { type: number, description: Raw (unnormalized) link-authority score. }
        normalized_pagerank: { type: number }
        final_score: { type: number }
        bm25_terms:
          type: array
          items:
            type: object
            properties:
              term: { type: string }
              term_freq: { type: integer }
              doc_freq: { type: integer }
              doc_length: { type: integer }
              score: { type: number }
        alpha: { type: number }
        k1: { type: number }
        b: { type: number }
        pagerank_weight: { type: number }
        corrected_terms:
          type: array
          items: { $ref: "#/components/schemas/CorrectedTerm" }

    Settings:
      type: object
      properties:
        tuning:
          type: object
          properties:
            alpha: { type: number, description: "BM25 (1.0) vs. semantic (0.0) blend weight." }
            k1: { type: number }
            b: { type: number }
            pagerank_weight: { type: number }
        operational:
          type: object
          properties:
            fetch_timeout_seconds: { type: integer }
            user_agent: { type: string }
            default_max_pages: { type: integer }
            min_text_length: { type: integer }
            default_top_k: { type: integer }
            session_ttl_hours: { type: integer }
            crawl_delay_ms: { type: integer }
            max_response_kb: { type: integer }
            semantic_candidate_pool_size: { type: integer }
            db_max_open_conns: { type: integer }
            db_max_idle_conns: { type: integer }
            db_conn_max_lifetime_minutes: { type: integer }
            fuzzy_match_enabled: { type: boolean }
            fuzzy_max_edit_distance: { type: integer }
            pagerank_recompute_interval_minutes: { type: integer }
            ann_search_enabled: { type: boolean }
            max_retained_crawl_jobs: { type: integer }
            default_renderer:
              type: string
              enum: [none, chromium, firefox]
              description: >-
                The crawler's global default rendering mode -- a plain HTTP
                fetch ("none", the default) or a real headless browser that
                executes the page's JavaScript and waits for it to load
                ("chromium"/"firefox"). A schedule's own renderer overrides
                this when set.
            link_scope:
              type: string
              enum: [host, domain, tld, any]
              description: >-
                The crawler's global default for how far a crawl follows
                discovered links -- "domain" (the default: the seed's
                registrable domain, including subdomains), "host" (the
                exact seed host only), "tld" (the same domain, any
                subdomain, any top-level domain), or "any" (no
                restriction). A schedule's own link_scope overrides this
                when set.
            max_document_versions:
              type: integer
              description: >-
                How many versions of a document (the current one plus its
                archived predecessors) are kept whenever a re-crawl finds
                its content has changed -- the oldest archived versions
                beyond this are pruned in the same write that archives a
                new one. A document that's never changed always has
                exactly one version regardless of this setting.
            title_weight:
              type: integer
              description: >-
                How many times a document's title is counted into its
                indexed token stream, ahead of its body -- 1 gives the
                title no extra weight (counted once, same as any body
                mention), values above 1 give it a progressively bigger
                edge in BM25 scoring. A value below 1 falls back to the
                default (2). Only takes effect for documents crawled or
                re-crawled after the change -- not retroactive.

    Overrides:
      type: object
      properties:
        blocked_terms: { type: array, items: { type: string } }
        boosted_terms:
          type: object
          additionalProperties: { type: number }
        blocked_domains: { type: array, items: { type: string } }
        boosted_domains:
          type: object
          additionalProperties: { type: number }

    PageRankStats:
      type: object
      properties:
        total_docs: { type: integer }
        min_pagerank: { type: number }
        max_pagerank: { type: number }
        avg_pagerank: { type: number }
        damping: { type: number, description: "Fixed algorithm constant (domain.PageRankDamping), not configurable." }
        max_iterations: { type: integer, description: "Fixed algorithm constant (domain.PageRankMaxIterations)." }
        epsilon: { type: number, description: "Fixed convergence threshold (domain.PageRankEpsilon)." }
        pagerank_weight: { type: number, description: "The Tuning page's blend weight -- how much this feeds into search ranking." }
        recompute_interval_minutes: { type: integer, description: "The Tuning page's automatic recompute interval." }
        recompute_in_progress:
          type: boolean
          description: >-
            Whether a recompute is currently running, triggered by anything
            -- another admin's "force recalculation" click (possibly on a
            different admin-server instance), the periodic ticker, or a
            post-crawl trigger -- not just this request's own caller.
        last_recomputed_at:
          type: string
          format: date-time
          description: When the last completed recompute finished. Absent if none has ever run on this instance.
        last_recompute_documents: { type: integer, description: How many documents that run scored. }
        last_recompute_iterations: { type: integer, description: How many iterations that run took. }
        last_recompute_final_delta: { type: number, description: That run's final convergence delta. }
        last_recompute_duration_ms: { type: integer, description: "Wall-clock time that run took, covering the link-graph read, the algorithm, and writing scores back." }

    PageRankRecomputeResult:
      type: object
      properties:
        documents: { type: integer, description: "How many documents got a freshly computed score." }
        iterations: { type: integer, description: "How many iterations this run actually took." }
        final_delta: { type: number, description: "Total absolute score change on the final iteration." }
        duration_ms: { type: integer }
        min_pagerank: { type: number }
        max_pagerank: { type: number }
        avg_pagerank: { type: number }

    DatabaseDiagnostics:
      type: object
      properties:
        driver: { type: string }
        pool:
          type: object
          description: sql.DBStats, with its one duration field in milliseconds.
          properties:
            max_open_connections: { type: integer }
            open_connections: { type: integer }
            in_use: { type: integer }
            idle: { type: integer }
            wait_count: { type: integer }
            wait_duration_ms: { type: integer }
            max_idle_closed: { type: integer }
            max_idle_time_closed: { type: integer }
            max_lifetime_closed: { type: integer }
        table_rows:
          type: object
          description: Row count per schema table, keyed by table name.
          additionalProperties: { type: integer }

    OverviewMetrics:
      type: object
      properties:
        running_crawl_jobs: { type: integer }
        queued_crawl_jobs: { type: integer }
        running_jobs:
          type: array
          description: One entry per currently running crawl job, for the "running jobs" inline detail list.
          items:
            type: object
            properties:
              id: { type: string }
              seed_urls: { type: array, items: { type: string } }
              pages_crawled: { type: integer }
        schedules_enabled: { type: integer }
        schedules_disabled: { type: integer }
        schedules_in_progress: { type: integer }
        schedules_overdue:
          type: integer
          description: Enabled schedules whose next_run_at has already passed.
        pool:
          type: object
          description: Same shape as DatabaseDiagnostics.pool -- the live DB connection pool's current limits and usage.
          properties:
            max_open_connections: { type: integer }
            open_connections: { type: integer }
            in_use: { type: integer }
            idle: { type: integer }
            wait_count: { type: integer }
            wait_duration_ms: { type: integer }
            max_idle_closed: { type: integer }
            max_idle_time_closed: { type: integer }
            max_lifetime_closed: { type: integer }
        job_outcomes:
          type: array
          description: Crawl jobs in the last 30 days, grouped by terminal status (done/failed/cancelled).
          items:
            type: object
            properties:
              status: { type: string, enum: [done, failed, cancelled] }
              count: { type: integer }
        daily_fetch_outcomes:
          type: array
          description: One entry per day (last 14 days) with fetch counts broken down by outcome.
          items:
            type: object
            properties:
              date: { type: string, description: "YYYY-MM-DD (UTC)" }
              outcomes:
                type: object
                additionalProperties: { type: integer }
                description: Count per CrawlPageEvent status actually seen that day (a status with zero occurrences is simply absent).
        documents_by_day:
          type: array
          description: How many documents' crawled_at fell on each day, last 30 days. A day with none simply has no entry.
          items:
            type: object
            properties:
              date: { type: string, description: "YYYY-MM-DD (UTC)" }
              count: { type: integer }
        fetch_duration_by_day:
          type: array
          description: Mean crawl_job_pages.duration_ms per day, last 14 days. A day with no fetches simply has no entry.
          items:
            type: object
            properties:
              date: { type: string, description: "YYYY-MM-DD (UTC)" }
              avg_duration_ms: { type: number }
        pagerank_buckets:
          type: array
          description: >-
            A histogram of every document's pagerank across
            PageRankHistogramBuckets (10) equal-width bins spanning the
            corpus's own observed [min, max] range.
          items:
            type: object
            properties:
              label: { type: string, description: "Pre-formatted \"lo–hi\" range, e.g. \"1.23e-04–2.46e-04\"." }
              count: { type: integer }
        pagerank_orphan_threshold:
          type: number
          description: The fixed pagerank cutoff (domain.PageRankOrphanThreshold) pagerank_orphan_count/pagerank_orphan_percent were computed against.
        pagerank_orphan_count:
          type: integer
          description: Documents at or below pagerank_orphan_threshold.
        pagerank_orphan_percent:
          type: number
          description: pagerank_orphan_count as a percentage of pagerank_total_docs (0 for an empty corpus).
        pagerank_total_docs: { type: integer }

    CrawlJobRequest:
      description: A redacted summary of the request that started a job -- HasCookie/HasBasicAuth booleans, never the actual credentials.
      type: object
      properties:
        seed_urls: { type: array, items: { type: string } }
        max_pages: { type: integer }
        has_cookie: { type: boolean }
        has_basic_auth: { type: boolean }
        respect_robots: { type: boolean }
        user_agent: { type: string }
        link_scope:
          type: string
          enum: ["", host, domain, tld, any]
          description: '"" means this job used the Tuning page''s global default link scope.'
        allowed_domains:
          type: array
          items: { type: string }
          description: >-
            Domains (or any of their subdomains) always followed, even where
            link_scope alone would reject them.
        blocked_domains:
          type: array
          items: { type: string }
          description: >-
            Domains (or any of their subdomains) never followed, even where
            link_scope or allowed_domains would otherwise allow them --
            blocked_domains always wins.
        follow_indexed_domains:
          type: boolean
          description: >-
            Also follows a discovered link whose domain already has at
            least one indexed document, even where link_scope/
            allowed_domains wouldn't otherwise allow it. blocked_domains
            still overrides this.
        use_sitemap: { type: boolean }
        fetch_timeout_seconds: { type: integer }
        min_text_length: { type: integer }
        crawl_delay_ms: { type: integer }
        max_response_kb: { type: integer }
        prioritize_unindexed: { type: boolean }
        renderer:
          type: string
          enum: ["", none, chromium, firefox]
          description: '"" means this job used the Tuning page''s global default rendering mode.'

    CrawlPageEvent:
      type: object
      properties:
        url: { type: string }
        status:
          type: string
          enum: [indexed, thin_content, fetch_failed, robots_disallowed]
        title: { type: string }
        error: { type: string }
        doc_length: { type: integer }
        links_found: { type: integer }
        duration_ms: { type: integer }
        fetched_at: { type: string, format: date-time }

    CrawlJobSummary:
      type: object
      properties:
        id: { type: string }
        request: { $ref: "#/components/schemas/CrawlJobRequest" }
        status: { type: string, enum: [queued, running, done, failed, cancelled] }
        pages_crawled: { type: integer }
        error: { type: string }
        created_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time, nullable: true }
        finished_at: { type: string, format: date-time, nullable: true }

    CrawlJob:
      allOf:
        - $ref: "#/components/schemas/CrawlJobSummary"
        - type: object
          properties:
            pages:
              type: array
              items: { $ref: "#/components/schemas/CrawlPageEvent" }

    ScheduledCrawlRequest:
      description: >-
        The one request shape for creating or replacing any crawl -- a
        one-off run and a recurring schedule differ only in
        `interval_minutes`, not in which fields are available. There's no
        separate "recurring" flag: `interval_minutes` 0 (the default, left
        blank) means "run once, immediately"; a positive value means
        "repeat on this cadence" until disabled or `max_runs` is reached.
      type: object
      required: [seed_urls]
      properties:
        seed_urls: { type: array, items: { type: string }, minItems: 1 }
        max_pages: { type: integer }
        respect_robots: { type: boolean }
        user_agent: { type: string }
        cookie:
          type: string
          description: Stored and reused on every run, like any other option.
        basic_auth_user: { type: string }
        basic_auth_pass: { type: string, description: "Stored and reused on every run, like any other option." }
        link_scope:
          type: string
          enum: ["", host, domain, tld, any]
          default: ""
          description: >-
            "" (default): inherit the Tuning page's global default for how
            far this crawl follows discovered links. "host": the exact
            seed host only. "domain": the seed's registrable domain,
            including subdomains (e.g. a seed of www.example.com also
            follows blog.example.com and example.com, but not
            example.org). "tld": the same domain, any subdomain, any
            top-level domain (e.g. a seed of example.com also follows
            example.org and www.example.de, but not other.com). "any": no
            restriction.
        allowed_domains:
          type: array
          items: { type: string }
          description: >-
            Domains (or any of their subdomains) always followed, even
            where link_scope alone would reject them -- widens scope, on
            top of link_scope, rather than replacing it.
        blocked_domains:
          type: array
          items: { type: string }
          description: >-
            Domains (or any of their subdomains) never followed, even
            where link_scope or allowed_domains would otherwise allow
            them -- blocked_domains always wins.
        follow_indexed_domains:
          type: boolean
          default: false
          description: >-
            Also follows a discovered link whose domain already has at
            least one indexed document, even where link_scope/
            allowed_domains wouldn't otherwise allow it. blocked_domains
            still overrides this.
        use_sitemap: { type: boolean }
        fetch_timeout_seconds:
          type: integer
          description: Overrides the global default for this crawl alone; 0 means "use the global default."
        min_text_length:
          type: integer
          description: Overrides the global default for this crawl alone; 0 means "use the global default."
        crawl_delay_ms:
          type: integer
          description: Overrides the global default for this crawl alone; 0 means "use the global default."
        max_response_kb:
          type: integer
          description: Overrides the global default for this crawl alone; 0 means "use the global default."
        prioritize_unindexed:
          type: boolean
          default: false
          description: >-
            Fetch not-yet-indexed URLs before re-fetching ones already
            indexed, within the same max_pages budget. Reorders discovery
            only -- it never skips already-indexed pages.
        interval_minutes:
          type: integer
          minimum: 0
          default: 0
          description: >-
            0 (default): run once, at next_run_at (immediately on create).
            A positive value: repeat every interval_minutes until disabled
            or max_runs is reached.
        max_runs:
          type: integer
          minimum: 0
          default: 0
          description: >-
            Caps how many times a recurring crawl repeats before disabling
            itself; 0 (default) means unlimited. Meaningless when
            interval_minutes is 0 (a one-off crawl already stops after its
            one run).
        renderer:
          type: string
          enum: ["", none, chromium, firefox]
          default: ""
          description: >-
            "" (default): inherit the Tuning page's global default
            rendering mode. "none"/"chromium"/"firefox": override it
            explicitly for this crawl alone.
        enabled: { type: boolean }

    ScheduledCrawl:
      allOf:
        - $ref: "#/components/schemas/ScheduledCrawlRequest"
        - type: object
          properties:
            id: { type: string }
            recurring:
              type: boolean
              description: Derived from interval_minutes > 0 -- not settable directly.
            run_count:
              type: integer
              description: How many times this schedule has run so far.
            last_run_at: { type: string, format: date-time, nullable: true }
            next_run_at: { type: string, format: date-time }
            created_at: { type: string, format: date-time }
