openapi: 3.0.3
info:
  title: searchengine API
  version: "1.0"
  description: |
    A self-hosted AI chatbot with search-engine features, deployed as three
    independent Go binaries that share one SQL database. Chat can cite live
    web results and this instance's own crawled index side by side, backed
    by a hybrid (BM25 + semantic) search engine also exposed as a plain
    public search UI:

    - **search-server** (public, internet-facing): the index page and the
      public `/search` API. Requires a signed-in session (see `/login`).
    - **admin-server** (internal, reached only via nginx `/admin`, `/login`,
      `/logout`): every `/admin/api/*` endpoint. Talks to crawl-server over
      the network to start/inspect crawl jobs.
    - **crawl-server** (internal only, never exposed by nginx): executes
      crawls and tracks their job state. Its `/crawl` and `/jobs*` endpoints
      are called exclusively by admin-server, via
      `internal/adapters/crawlclient`.

    All three sit behind one nginx host: `/login`, `/logout` and `/admin*`
    proxy to admin-server, everything else (including `/style.css` and
    `/search`) proxies to search-server. Session cookies are valid across
    all of them (sessions are stored in a shared `sessions` table, not
    in-process memory), so one login unlocks both the public site and the
    admin backend.

    This document covers every JSON REST endpoint across all three
    processes. Plain HTML page routes (e.g. `GET /admin/crawl`, which just
    serves a static template) are omitted -- they carry no API contract of
    their own; their pages call the JSON endpoints documented here.
  license:
    name: UNLICENSED
servers:
  - url: https://se.mo-sys.de
    description: Dev/test deployment (nginx fronts all three binaries)
  - url: http://localhost:8080
    description: Local development
tags:
  - name: search
    description: Public search (search-server)
  - name: auth
    description: Session login/logout (shared, proxied to admin-server)
  - name: account
    description: >-
      Self-service account management for a signed-in regular-user
      (role=user) session -- password change and personal chat prompt
      (search-server). Always 403 for the hardcoded admin account, which
      has no underlying User row to act on.
  - name: admin
    description: Admin diagnostics, tuning, and content management (admin-server)
  - name: crawl-internal
    description: >-
      Crawl execution and job tracking (crawl-server). Never reachable from
      the internet -- admin-server is the only caller.
  - name: health
    description: Liveness checks (identical on all three processes)

security:
  - sessionCookie: []

paths:
  # ---------------------------------------------------------------- search
  /search:
    get:
      tags: [search]
      summary: Run a hybrid search
      description: >-
        Blends BM25 and semantic (embedding cosine-similarity) scoring.
        Query syntax supports `+required`, `-excluded`, `"exact phrase"`,
        `-"excluded phrase"`, `site:host`, and `-site:host` terms,
        combinable in one query.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
          example: "raft consensus algorithm"
        - name: top_k
          in: query
          schema: { type: integer, default: 10 }
        - name: sort
          in: query
          schema: { type: string, enum: [relevance, recency], default: relevance }
        - name: semantic
          in: query
          schema: { type: string }
          example: "hash:0.3,ionos:0.7"
          description: >-
            Comma-separated `provider:weight` pairs (a bare `provider` with
            no `:weight` defaults to weight 1) that fully replace
            operational.embedding_search_weights for this request only --
            see /admin/api/settings' embedding_search_weights. A malformed
            entry is skipped individually rather than failing the request.
            Omit entirely to use the admin-configured default.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query: { type: string }
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/SearchResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /chat:
    post:
      tags: [search]
      summary: Answer one chat turn against the admin-configured chat endpoint
      description: >-
        Sends the given message history to the single admin-configured chat
        endpoint (see /admin/api/chat-endpoint). This endpoint never performs
        a web search or page fetch itself -- ChatRequest.web_search only
        decides which GatedByWebSearch MCP servers (see /admin/api/mcp-servers)
        are active, offering their discovered tools to the model, which then
        decides whether to invoke one. A message's role must be "user" or
        "assistant"; "system" is rejected, since that role is reserved for
        server-injected content (the endpoint's own system prompt, active
        MCP server prompts), never something a client can supply to try to
        override it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "405": { $ref: "#/components/responses/BadRequest" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /agents:
    get:
      tags: [search]
      summary: List every enabled agent for the chat page's own picker
      description: >-
        Unlike /admin/api/agents, reachable by any signed-in session
        (role=admin or role=user), not just an admin one -- picking an
        agent to talk to is a chat-page action. Only ENABLED agents are
        listed, and only their id/name/description -- never
        mcp_server_ids/enabled/system_prompt, which stay admin-only. An
        agent picked here (or ChatRequest.agent_id more generally)
        overrides the endpoint's own default_agent_id for that question.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    description: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "405": { $ref: "#/components/responses/BadRequest" }

  # ------------------------------------------------------------------ auth
  /login:
    post:
      tags: [auth]
      summary: Sign in
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username: { type: string }
                password: { type: string, format: password }
                next:
                  type: string
                  description: >-
                    Path to redirect to after a successful login. Anything
                    not starting with a single `/` (an absolute URL, or a
                    protocol-relative `//`) is ignored in favor of `/admin`,
                    to prevent an open-redirect via this field.
      responses:
        "200":
          description: Signed in; a `se_session` cookie is set.
          headers:
            Set-Cookie:
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect: { type: string, example: /admin }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Incorrect username or password.
          content:
            text/plain: { schema: { type: string } }
  /logout:
    post:
      tags: [auth]
      summary: Sign out
      description: Revokes the session named by the `se_session` cookie, if any.
      responses:
        "200":
          description: Signed out (idempotent -- succeeds even with no active session).
          content:
            application/json:
              schema:
                type: object
                properties: { ok: { type: boolean } }
  /session:
    get:
      tags: [auth]
      summary: Who the current session is
      description: >-
        Resolves the se_session cookie's role server-side -- reachable by
        EITHER role (unlike every /account/* route), so the search page's
        own JS can decide which nav link to show (admin backend for
        role=admin, the self-service account page for role=user) without
        needing to attempt either route first.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SessionResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --------------------------------------------------------------- account
  /account/api:
    get:
      tags: [account]
      summary: Get the current session's own account
      description: >-
        There is no id in the path -- a regular-user session can only ever
        see or change its own row, resolved server-side from the
        se_session cookie. Never includes a password or password hash in
        the response, same discipline as /admin/api/users.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to act on.
          content:
            text/plain: { schema: { type: string } }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [account]
      summary: Change the current session's own password and/or personal chat prompt
      description: >-
        Both fields are optional and independent -- password, when
        present, is validated and hashed the same way as
        /admin/api/users' own password fields (8-72 characters); an
        invalid one is rejected (400), never silently ignored.
        custom_prompt, when present (including an explicit empty string,
        to clear it), replaces the stored value outright; omitting it
        entirely leaves the existing value untouched. See UpdateAccountRequest.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateAccountRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to act on.
          content:
            text/plain: { schema: { type: string } }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /account/api/mcp-servers:
    get:
      tags: [account]
      summary: List the current session's own MCP servers
      description: >-
        Self-service sibling of /admin/api/mcp-servers -- same MCPServer
        shape, but every row is owned by (and only ever visible to) the
        calling session's own userID, resolved server-side the same way
        /account/api is, never from an id in the request. Never narrowed
        by an active Agent's own MCPServerIDs scope (see the Agent
        schema's own description) -- a personal server is always available
        to every agent.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/MCPServer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to own MCP servers under.
          content:
            text/plain: { schema: { type: string } }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [account]
      summary: Create one of the current session's own MCP servers
      description: >-
        Same id-minting/dedup behavior as POST /admin/api/mcp-servers
        (deduped only against this owner's own existing rows, not every
        server in the system), but transport MUST be "http" -- a "stdio"
        server runs a real local command on this site's own server, a
        trust tier only an admin-configured row may ever use; any other
        value is rejected (400), same as an empty name or base_url.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MCPServerRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to own MCP servers under.
          content:
            text/plain: { schema: { type: string } }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /account/api/mcp-servers/{id}:
    get:
      tags: [account]
      summary: Get one of the current session's own MCP servers
      description: >-
        404s the same way for an unknown id and for another user's id --
        ownership scoping IS the access control, not a separate check on
        top of it (see handleAccountGetMCPServer).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [account]
      summary: Replace one of the current session's own MCP server's editable fields
      description: >-
        Same full-replace/api_key-write-only semantics as PATCH
        /admin/api/mcp-servers/{id}; transport is re-validated as "http"
        on every update, same as on create.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MCPServerRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [account]
      summary: Delete one of the current session's own MCP server's configuration
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /account/api/files:
    get:
      tags: [account]
      summary: List the current session's own uploaded files
      description: >-
        Metadata only (never file content), most recently uploaded first.
        Unlike every other /account/api/* endpoint, this (and GET/DELETE
        .../files/{id} below) also accepts an "Authorization: Bearer
        <token>" header in place of a session cookie -- a short-lived,
        per-chat-turn token cmd/mcp-files uses to call back in as that
        turn's own signed-in user (see restapi.fileTokenStore and
        application.ChatOptions.FileAccessToken). The 403 admin-account
        response below applies only to the session-cookie path; an invalid
        or expired bearer token gets a plain 401 instead, indistinguishable
        from no credential at all.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/UploadedFile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to own files under.
          content:
            text/plain: { schema: { type: string } }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [account]
      summary: Upload a new file
      description: >-
        multipart/form-data with a single "file" field -- the same
        encoding a plain HTML file input produces, and what cmd/mcp-files'
        write_file tool also constructs server-side. Capped at 5 MiB
        (maxUploadedFileBytes) and 100 files per owner (maxFilesPerUser),
        neither admin-configurable.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
              required: [file]
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UploadedFile" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to own files under.
          content:
            text/plain: { schema: { type: string } }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /account/api/files/{id}:
    get:
      tags: [account]
      summary: Download one of the current session's own files
      description: >-
        404s the same way for an unknown id and for another user's id --
        ownership scoping IS the access control, same convention
        /account/api/mcp-servers/{id} uses. Returns the file's raw bytes
        with Content-Disposition: attachment, not a JSON envelope.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to own files under.
          content:
            text/plain: { schema: { type: string } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [account]
      summary: Delete one of the current session's own files
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The signed-in session is the hardcoded admin account, which has no User row to own files under.
          content:
            text/plain: { schema: { type: string } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  # ----------------------------------------------------------------- admin
  /admin/api/stats:
    get:
      tags: [admin]
      summary: Corpus-wide index stats
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { type: string, example: postgres }
                  total_docs: { type: integer }
                  avg_doc_len: { type: number }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/vocabulary:
    get:
      tags: [admin]
      summary: A page of the vocabulary, sortable and optionally filtered
      parameters:
        - name: limit
          in: query
          description: Items per page.
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          description: How many matching terms to skip before this page.
          schema: { type: integer, default: 0 }
        - name: search
          in: query
          description: Case-insensitive substring filter on the term.
          schema: { type: string }
        - name: sort
          in: query
          description: Falls back to `doc_freq` for anything else.
          schema: { type: string, enum: [term, doc_freq, total_freq], default: doc_freq }
        - name: dir
          in: query
          description: Falls back to `desc` for anything else.
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vocabulary_size:
                    type: integer
                    description: Total distinct terms corpus-wide (unaffected by `search`).
                  matched_count:
                    type: integer
                    description: >-
                      How many terms match `search` in total, before
                      `limit`/`offset` are applied -- for computing a page
                      count. Equal to vocabulary_size when `search` is empty.
                  terms:
                    type: array
                    items: { $ref: "#/components/schemas/TermStat" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/postings:
    get:
      tags: [admin]
      summary: Every page containing one term, with a match excerpt
      parameters:
        - name: term
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          description: >-
            Caps how many postings are returned, strongest matches (highest
            term frequency) first; doc_freq in the response still reflects
            every matching document even when the list is truncated.
          schema: { type: integer, default: 500 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  term: { type: string }
                  doc_freq: { type: integer }
                  postings:
                    type: array
                    items: { $ref: "#/components/schemas/Posting" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents:
    get:
      tags: [admin]
      summary: List indexed documents, optionally narrowed to one domain
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
        - name: domain
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Document" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Remove every document in one domain
      description: >-
        Fire-and-forget: looks up the domain's document IDs, then queues
        their deletion on a background goroutine (detached from this
        request, so it keeps running even after the client disconnects)
        and returns immediately with the count queued.
      parameters:
        - name: domain
          in: query
          required: true
          schema: { type: string }
      responses:
        "202":
          description: Accepted; deletion is running in the background.
          content:
            application/json:
              schema:
                type: object
                properties: { queued: { type: integer } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents/overview:
    get:
      tags: [admin]
      summary: Summary panels for the admin Overview page
      description: >-
        Top domains, an age-of-content breakdown, the total number of
        distinct domains indexed, and how documents are distributed
        across version numbers (see Document.version).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_domains:
                    type: array
                    items: { $ref: "#/components/schemas/DomainSummary" }
                  age_buckets:
                    type: array
                    items:
                      type: object
                      properties:
                        label: { type: string, example: "last 24h" }
                        count: { type: integer }
                  total_domains:
                    type: integer
                    description: Count of distinct domains across the whole corpus (not capped, unlike top_domains).
                  version_counts:
                    type: array
                    description: How many documents currently sit at each version number, ordered by version ascending.
                    items:
                      type: object
                      properties:
                        version: { type: integer }
                        count: { type: integer }
                  stored_version_counts:
                    type: array
                    description: >-
                      How many documents currently have exactly N versions
                      actually retained in storage (the current row plus any
                      archived predecessors still in document_versions,
                      bounded by operational.max_document_versions), ordered
                      by stored_versions ascending. Distinct from
                      version_counts: a document changed 20 times sits at
                      version 20 (its version_counts bucket) but, once its
                      oldest archived rows have been pruned down to the
                      configured limit, may have far fewer than 20 versions
                      actually stored.
                    items:
                      type: object
                      properties:
                        stored_versions: { type: integer }
                        doc_count: { type: integer }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/overview/metrics:
    get:
      tags: [admin]
      summary: Operational health + trend panels for the admin Overview page
      description: >-
        Everything the Overview page shows beyond the corpus summary
        /admin/api/documents/overview already covers: crawl job/schedule
        health and DB pool utilization (pure aggregation over data other
        endpoints already expose), plus five trend/breakdown charts each
        backed by one new aggregate query -- crawl job outcomes (last 30
        days), fetch throughput by outcome (last 14 days), documents
        indexed per day (last 30 days), mean fetch duration per day (last
        14 days), and a PageRank distribution histogram with an orphan-rate
        stat. running_jobs/schedules_* are zeroed (not an error) if this
        process has no CrawlJobService/ScheduledCrawlStore configured.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OverviewMetrics" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents/{id}:
    delete:
      tags: [admin]
      summary: Remove one document
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/documents/{id}/versions:
    get:
      tags: [admin]
      summary: A document's superseded prior versions
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK (an empty array means it's never been re-crawled with different content)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    version: { type: integer }
                    title: { type: string }
                    doc_length: { type: integer }
                    crawled_at: { type: string, format: date-time }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/domains:
    get:
      tags: [admin]
      summary: Search crawled domains by name
      description: >-
        An empty or missing `q` returns every domain (most-documents-first,
        still capped at `limit`) rather than an empty list -- the admin
        Documents page fetches this broad batch once a search starts, then
        matches `q` as a regular expression against it client-side.
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DomainSummary" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/search:
    get:
      tags: [admin]
      summary: "Debug a query: unblended BM25/semantic scores and their full breakdown"
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: top_k
          in: query
          schema: { type: integer }
        - name: sort
          in: query
          schema: { type: string, enum: [relevance, recency] }
        - name: semantic
          in: query
          schema: { type: string }
          description: Same `provider:weight` override as GET /search's own `semantic` parameter.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DebugResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/settings:
    get:
      tags: [admin]
      summary: Current tuning + operational settings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Settings" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Replace tuning + operational settings
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Settings" }
      responses:
        "200":
          description: OK -- the settings as saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Settings" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/overrides:
    get:
      tags: [admin]
      summary: Current ranking overrides (blocked/boosted terms and domains)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Overrides" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Replace ranking overrides
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Overrides" }
      responses:
        "200":
          description: OK -- the overrides as saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Overrides" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/pagerank:
    get:
      tags: [admin]
      summary: PageRank distribution and algorithm configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageRankStats" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/pagerank/recompute:
    post:
      tags: [admin]
      summary: Force an immediate PageRank recomputation
      description: >-
        Runs synchronously (unlike the bulk document delete, which is
        fire-and-forget) -- an admin clicking "force recalculation" is
        waiting to see this specific run's result, not just whether it
        errored.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageRankRecomputeResult" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/embeddings/recompute:
    get:
      tags: [admin]
      summary: Embedding recompute status and corpus size
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmbeddingRecomputeStatus" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Start a full-corpus embedding recompute in the background
      description: >-
        Re-embeds every document's already-stored text against whatever
        embedding provider is currently configured -- no re-crawl, just a
        fresh Embed call per document. Unlike PageRank's "force
        recalculation" (a single fast batched DB read+write, synchronous in
        its own handler), this is fire-and-forget: the response returns
        immediately (202) and the run continues in the background, its
        progress visible via GET on this same path. Recomputing means one
        Embed call per document -- a real network round-trip for the "http"
        provider -- so a large corpus can take minutes.
      responses:
        "202":
          description: Accepted -- the recompute has started
          content:
            application/json:
              schema:
                type: object
                properties: { started: { type: boolean } }
        "409":
          description: A recompute is already running (triggered by this or another admin-server instance).
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/content-dedup:
    get:
      tags: [admin]
      summary: Content-dedup recompute status
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentDedupStatus" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/content-dedup/recompute:
    post:
      tags: [admin]
      summary: Start a full-corpus content-dedup pass in the background
      description: >-
        Scans every document's content fingerprint, groups duplicates/
        near-duplicates per the configured method and threshold (see
        Settings), and merges each group into one canonical document --
        deleting the losing documents' own rows. Fire-and-forget, like
        embedding recompute: the response returns immediately (202) and the
        run continues in the background, its progress visible via GET on
        this same path.
      responses:
        "202":
          description: Accepted -- the recompute has started
          content:
            application/json:
              schema:
                type: object
                properties: { started: { type: boolean } }
        "409":
          description: A recompute is already running (triggered by this or another process).
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/content-dedup/alias-groups:
    get:
      tags: [admin]
      summary: List merged canonical documents and their alias URLs
      description: >-
        The "what actually got merged" transparency listing -- every
        canonical document with at least one alias URL folded into it (a
        rel=canonical tag, a www fold, or a content-dedup merge), paginated.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AliasGroupsResponse" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/chat-endpoint:
    get:
      tags: [admin]
      summary: Get the current chat endpoint config
      description: >-
        Unlike the embedding endpoints (many blended providers), chat only
        ever has one active configuration -- this is Get/Set on a single
        row, not CRUD on a collection. Never fails just because nothing's
        been saved yet: returns a zero-ish default (everything empty/false)
        instead, same spirit as /admin/api/settings always succeeding.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatEndpoint" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Upsert the chat endpoint config
      description: >-
        Full replace, not a merge, for every field except api_key: since a
        GET/PATCH response never echoes the real key back (see
        has_api_key), leaving api_key blank here preserves whatever's
        already stored rather than clearing it -- clear_api_key is the
        explicit way to actually remove it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatEndpointRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatEndpoint" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "405": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/mcp-servers:
    get:
      tags: [admin]
      summary: List every configured MCP server
      description: >-
        A list of many, like the embedding endpoints, unlike the
        single-row chat endpoint above -- an admin can define several MCP
        (Model Context Protocol) server connections over time. Each active
        server's own tools/list response is discovered fresh at the start
        of every chat turn and offered to the model as native
        OpenAI-compatible tool-calling functions (see
        internal/adapters/mcpclient and ports.MCPToolProvider) -- this
        endpoint only returns the admin-configured connection info, never
        the discovered tools themselves.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/MCPServer" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Create an MCP server
      description: >-
        The new server's id is minted server-side from its name (see
        domain.NewMCPServerID), deduped against every existing server id,
        so it can never collide -- the response's id is the one to use for
        every subsequent GET/PATCH/DELETE on this server, not the submitted
        name. transport must be "stdio" (also requires a non-empty command)
        or "http" (also requires a non-empty base_url).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MCPServerRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/mcp-servers/{id}:
    get:
      tags: [admin]
      summary: Get one MCP server's full config
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServer" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Replace an MCP server's editable fields
      description: >-
        Full replace, not a merge, for every field except id (never
        editable once created) and api_key: since a GET/POST/PATCH
        response never echoes the real key (see has_api_key), leaving
        api_key blank here preserves whatever's already stored rather than
        clearing it -- clear_api_key is the explicit way to actually
        remove it. transport is validated the same way as on create.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MCPServerRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Delete an MCP server's configuration
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/mcp-servers/test:
    post:
      tags: [admin]
      summary: Connect to a candidate MCP server config and list its tools
      description: >-
        Connects to a not-yet-saved candidate server config (in the request
        body) and lists whatever tools it actually exposes, sourced live
        from the server's own tools/list response -- never admin-typed
        (unlike the old ChatHook.description) -- so the add/edit subpage
        can show real tool names/descriptions before (or without) saving.
        Always 200: an empty result (no error) when the transport-specific
        field (command for "stdio", base_url for "http") is still blank --
        there's nothing to connect to yet -- and a populated `error`
        string (tools still empty) when connecting produced no tools at
        all, which covers both a real connection failure and a server that
        legitimately exposes zero tools (mcpclient.Provider.Open can't
        tell the two apart -- see its own doc comment).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MCPServerCandidateRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MCPServerToolsList" }
        "400": { $ref: "#/components/responses/BadRequest" }

  /admin/api/agents:
    get:
      tags: [admin]
      summary: List every configured agent
      description: >-
        A list of many, like the MCP servers -- an admin can define several
        named specializations over time. Each is a static system prompt
        (injected into a conversation the agent is active for, after the
        endpoint's own persistent system prompt) plus an optional scope
        over which of the global MCP servers it may use tools from.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Agent" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Create an agent
      description: >-
        The new agent's id is minted server-side from its name (see
        domain.NewAgentID), deduped against every existing agent id, so it
        can never collide -- the response's id is the one to use for every
        subsequent GET/PATCH/DELETE on this agent, not the submitted name.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Agent" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/agents/{id}:
    get:
      tags: [admin]
      summary: Get one agent's full config
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Agent" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Replace an agent's editable fields
      description: >-
        Full replace, not a merge, for every field except id (never
        editable once created).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Agent" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Delete an agent's configuration
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/users:
    get:
      tags: [admin]
      summary: List every regular-user account
      description: >-
        DB-backed regular-user accounts, entirely distinct from the single
        hardcoded admin account (ADMIN_USER/ADMIN_PASSWORD env vars) --
        see the User schema. Never includes a password or password hash in
        the response, on this or any other endpoint here.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Create a regular-user account
      description: >-
        The new account's id is minted server-side from username (see
        domain.NewUserID), deduped against every existing user id -- the
        response's id is the one to use for every subsequent PATCH/DELETE.
        password is hashed with bcrypt before storage and never echoed
        back. username must not match the hardcoded admin's own username
        (400) or an existing regular-user account's (409).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateUserRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/users/{id}:
    get:
      tags: [admin]
      summary: Get one regular-user account
      description: Backs the admin-only per-user edit subpage (/admin/users/{id}). Never includes a password or password hash.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Reset a regular-user account's password and/or edit their custom prompt
      description: >-
        Lets the admin change a user's password and/or their personal
        custom_prompt on their behalf (the same field the user can edit
        themselves via /account/api) -- username is not editable once an
        account is created (see UpdateUserRequest's pointer-field
        semantics: an omitted field is left unchanged, an explicit empty
        string for custom_prompt clears it).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateUserRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Delete a regular-user account
      description: The account can no longer sign in once deleted; its session, if any, still expires on its own TTL.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/embeddings/models:
    post:
      tags: [admin]
      summary: List the models a candidate HTTP endpoint config reports
      description: >-
        Calls GET {base_url}/models against a not-yet-saved candidate
        endpoint config (in the request body -- base_url/api_key/model/
        dimensions, the same shape a real domain.EmbeddingHTTPEndpoint
        has), so the endpoint add/edit subpage can prefill the model
        field's suggestions before (or without) saving. Always 200: an
        empty models list (no error) when base_url is blank -- there's
        nothing to ask -- and a populated `error` string (models still
        empty) for a real failure calling the endpoint (bad credentials,
        endpoint doesn't implement /models, network error), since the
        model field stays usable as free text either way.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EmbeddingCandidateRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmbeddingModelsList" }
        "400": { $ref: "#/components/responses/BadRequest" }

  /admin/api/embeddings/test:
    post:
      tags: [admin]
      summary: Test connectivity against a candidate HTTP endpoint config
      description: >-
        Makes one real Embed call against a not-yet-saved candidate
        endpoint config (the same shape as POST .../models' request body),
        so the endpoint add/edit subpage can tell the admin immediately if
        a base URL/model/API key combination doesn't actually work, rather
        than that only surfacing on the next real search or recompute.
        Always 200 (a failed test is a reported result, not a request
        error) except for a blank base_url, which is a no-op success (no
        call attempted -- error is empty).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EmbeddingCandidateRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmbeddingConnectivityTestResult" }
        "400": { $ref: "#/components/responses/BadRequest" }

  /admin/api/embeddings/endpoints:
    get:
      tags: [admin]
      summary: List every configured HTTP embedding endpoint
      description: >-
        Any number of endpoints may be configured, each independently
        enabled and rate-limited -- alongside the always-available built-in
        hash provider (see operational.embedding_hash_enabled on
        /admin/api/settings). Every enabled one is kept warm (embedded and
        stored) on every crawl/recompute, so reweighting which one(s) are
        active for search (operational.embedding_search_weights) is
        instant.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/EmbeddingHTTPEndpoint" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Create an HTTP embedding endpoint
      description: >-
        The new endpoint's id is minted server-side from its name (see
        domain.NewEmbeddingEndpointID), deduped against every existing
        endpoint id plus the reserved "hash" (the built-in provider's own
        id), so it can never collide with either -- the response's id is
        the one to use for every subsequent GET/PATCH/DELETE on this
        endpoint, not the submitted name.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EmbeddingHTTPEndpointRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmbeddingHTTPEndpoint" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/embeddings/endpoints/{id}:
    get:
      tags: [admin]
      summary: Get one HTTP embedding endpoint's full config
      description: Backs the admin endpoint edit subpage's initial load.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmbeddingHTTPEndpoint" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Replace an HTTP embedding endpoint's editable fields
      description: >-
        Full replace, not a merge, for every field except id (never
        editable once created -- it's baked into document_embeddings.
        provider and the ANN column/index names for every vector already
        stored under it) and api_key: since a GET/POST/PATCH response never
        echoes the real key (see has_api_key), leaving api_key blank here
        preserves whatever's already stored rather than clearing it --
        clear_api_key is the explicit way to actually remove it.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EmbeddingHTTPEndpointRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmbeddingHTTPEndpoint" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Delete an HTTP embedding endpoint's configuration
      description: >-
        Removes only the configured endpoint itself -- its already-stored
        document_embeddings rows and ANN column are left in place, unused,
        same non-destructive convention as disabling a provider. Search and
        any future recompute can no longer use this provider afterward.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/database:
    get:
      tags: [admin]
      summary: Database connection, pool, and per-table row-count diagnostics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatabaseDiagnostics" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/database/clear-content:
    post:
      tags: [admin]
      summary: Permanently delete every crawled document and crawl job
      description: >-
        Deletes documents (cascading to postings/links/document_versions/
        document_embeddings), document_aliases, and crawl_jobs (cascading
        to crawl_job_pages) -- the admin database page's "Clear content"
        button. Every settings table is left untouched. Irreversible.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { cleared: { type: boolean } } }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/database/clear-settings:
    post:
      tags: [admin]
      summary: Permanently delete every settings row
      description: >-
        Deletes every row of app_settings, chat_endpoint,
        embedding_http_endpoints, and scheduled_crawls -- the admin
        database page's "Clear settings" button. Crawled content is left
        untouched. Takes effect immediately on the admin-server instance
        handling this request; search-server and crawl-server only pick up
        the change once restarted. Irreversible.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { cleared: { type: boolean } } }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/crawl/jobs:
    get:
      tags: [admin]
      summary: List every crawl job (most recent first)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CrawlJobSummary" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Clear every already-ended crawl job
      description: >-
        Deletes every job in done, failed, or cancelled status, leaving
        queued/running jobs untouched, and reports how many were removed --
        the Jobs page's "Clear ended jobs" button, for trimming a long
        history down to what's still active.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { removed: { type: integer } } }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/crawl/jobs/{id}:
    get:
      tags: [admin]
      summary: One crawl job's full detail, including every page event
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CrawlJob" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/crawl/jobs/{id}/cancel:
    post:
      tags: [admin]
      summary: Cancel a queued or running crawl job
      description: >-
        Stops a job that hasn't finished yet -- a job already done, failed,
        or already cancelled has nothing left to cancel.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The job exists but isn't currently queued or running.
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules:
    get:
      tags: [admin]
      summary: List every crawl (one-off and recurring)
      description: >-
        There's no separate "just start a crawl" endpoint -- every crawl,
        whether it runs once or repeats, is one of these (see
        ScheduledCrawl.recurring). crawl-server's scheduler ticker picks up
        anything due (a one-off entry is due immediately) and executes it,
        creating the CrawlJob this list's entries don't themselves track --
        see /admin/api/crawl/jobs for that.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ScheduledCrawl" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    post:
      tags: [admin]
      summary: Create a crawl (one-off or recurring)
      description: >-
        `recurring: false` (the default) runs once, at `next_run_at`
        (immediately); `recurring: true` requires a positive
        `interval_minutes` and repeats forever until disabled.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledCrawlRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ScheduledCrawl" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules/{id}:
    get:
      tags: [admin]
      summary: Get one crawl's full options
      description: Backs the admin schedule-detail/edit subpage's initial load.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ScheduledCrawl" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    patch:
      tags: [admin]
      summary: Replace a crawl's editable fields
      description: >-
        Full replace, not a merge -- every field (credentials included) must
        be resent, or it's cleared. Reschedules it: `next_run_at` becomes
        `interval_minutes` from now for a recurring entry (immediately for
        a one-off one), same as a freshly created entry. Flipping `enabled`
        back on for an already-run one-off entry queues it to run once more.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledCrawlRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }
    delete:
      tags: [admin]
      summary: Delete a crawl
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules/{id}/run:
    post:
      tags: [admin]
      summary: Run a crawl now, outside its normal schedule
      description: >-
        Marks the schedule due immediately (`next_run_at` = now) and
        re-enables it if it was paused, without touching any other stored
        field (recurring/interval/run count/options all stay exactly as
        they were). crawl-server's own scheduler ticker picks it up on its
        next tick and creates the actual crawl job -- the same path a
        freshly created one-off crawl already goes through -- so the job
        doesn't exist yet the instant this call returns; poll
        /admin/api/crawl/jobs for it.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: >-
            A crawl for this schedule is already running -- forcing it again
            would let two concurrent crawls of the same site race on
            document archiving. Not returned for a crash-stale flag, which
            self-heals once at crawl-server startup instead.
        "503": { $ref: "#/components/responses/NotConfigured" }

  /admin/api/schedules/{id}/toggle:
    post:
      tags: [admin]
      summary: Pause or resume a schedule without rescheduling it
      description: >-
        Sets only `enabled` -- unlike PATCHing the schedule, this never
        touches `next_run_at` or any other field, so a plain pause/resume
        (the admin Jobs page's checkbox) doesn't push the crawl's next run
        out to now-plus-interval or reorder a list sorted by `next_run_at`.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  # --------------------------------------------------------- crawl-internal
  # crawl-server has no HTTP entrypoint to start a crawl -- the only caller
  # is its own in-process scheduler ticker (application.TriggerDueCrawls),
  # which calls Handler.TriggerScheduledCrawl directly. /jobs* below is
  # mostly read-only, for admin-server to poll progress on jobs the ticker
  # started -- DELETE /jobs is the one write, clearing ended job history.
  /jobs:
    get:
      tags: [crawl-internal]
      summary: List every crawl job tracked by this crawl-server
      security: [{}, { internalToken: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CrawlJobSummary" }
    delete:
      tags: [crawl-internal]
      summary: Clear every already-ended crawl job
      description: >-
        Deletes every job in done, failed, or cancelled status, leaving
        queued/running jobs untouched, and reports how many were removed.
        Called only by admin-server's crawlclient.Client, never directly
        reachable from the internet.
      security: [{}, { internalToken: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { removed: { type: integer } } }
  /jobs/{id}:
    get:
      tags: [crawl-internal]
      summary: One crawl job's full detail
      security: [{}, { internalToken: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CrawlJob" }
        "404": { $ref: "#/components/responses/NotFound" }

  /jobs/{id}/cancel:
    post:
      tags: [crawl-internal]
      summary: Cancel a queued or running crawl job
      description: >-
        Called only by admin-server's crawlclient.Client, never directly
        reachable from the internet.
      security: [{}, { internalToken: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The job exists but isn't currently queued or running.

  # ---------------------------------------------------------------- health
  /healthz:
    get:
      tags: [health]
      summary: Liveness check
      description: >-
        Identical on all three processes. Unauthenticated by design, so
        automated monitoring never needs to sign in. Reports 503 the
        instant the underlying DB ping fails.
      security: []
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties: { status: { type: string, example: ok } }
        "503":
          description: Unhealthy (DB unreachable)
          content:
            application/json:
              schema:
                type: object
                properties: { status: { type: string, example: unavailable } }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: se_session
      description: >-
        Set by POST /login. Backed by a shared "sessions" table (not
        process-local memory), so a session created via admin-server is
        also honored by search-server, and vice versa.
    internalToken:
      type: apiKey
      in: header
      name: X-Internal-Token
      description: >-
        Only used by the crawl-internal /jobs* endpoints, and only
        enforced when the deployment has set CRAWL_INTERNAL_TOKEN (see
        packaging/searchengine.env) -- optional, defense-in-depth on top
        of the network-topology protection (crawl-server never proxied by
        nginx, loopback-only bind by default) these endpoints otherwise
        rely on entirely. Never uses sessionCookie: crawl-server has no
        concept of an admin login session at all.

  responses:
    BadRequest:
      description: Invalid request
      content:
        text/plain: { schema: { type: string } }
    Unauthorized:
      description: No valid session
      content:
        text/plain: { schema: { type: string, example: "authentication required" } }
    NotFound:
      description: No resource with that ID
      content:
        text/plain: { schema: { type: string } }
    NotConfigured:
      description: This process wasn't wired up with the dependency this endpoint needs
      content:
        text/plain: { schema: { type: string } }
    Forbidden:
      description: >-
        A valid session exists, but its role does not permit this route --
        e.g. a regular-user session (see UserRole) on an admin-only endpoint.
      content:
        text/plain: { schema: { type: string, example: "admin access required" } }
    Conflict:
      description: The request conflicts with an existing resource
      content:
        text/plain: { schema: { type: string } }
    BadGateway:
      description: The upstream chat-completions endpoint call failed
      content:
        text/plain: { schema: { type: string } }

  schemas:
    SearchResult:
      type: object
      properties:
        url: { type: string }
        title: { type: string }
        snippet:
          type: string
          description: HTML excerpt with `<mark>` around matched terms.
        score: { type: number }
        bm25_score: { type: number }
        semantic_sim: { type: number }
        corrected_terms:
          type: array
          items: { $ref: "#/components/schemas/CorrectedTerm" }

    CorrectedTerm:
      type: object
      properties:
        original: { type: string }
        corrected: { type: string }

    TermStat:
      type: object
      properties:
        term: { type: string }
        doc_freq: { type: integer }
        total_freq: { type: integer }

    Posting:
      type: object
      properties:
        doc_id: { type: string }
        url: { type: string }
        title: { type: string }
        snippet: { type: string }
        term_freq: { type: integer }
        doc_length: { type: integer }

    Document:
      type: object
      properties:
        id: { type: string }
        url: { type: string }
        host: { type: string }
        title: { type: string }
        doc_length: { type: integer }
        version: { type: integer }
        crawled_at: { type: string, format: date-time }
        internal_links: { type: integer }
        external_links: { type: integer }
        backlinks: { type: integer }
        pagerank: { type: number }

    DomainSummary:
      type: object
      properties:
        host: { type: string }
        doc_count: { type: integer }

    DebugResult:
      description: >-
        The unblended score breakdown behind one search-debug result --
        every component that fed FinalScore, plus the tuning parameters
        that were actually in effect.
      type: object
      properties:
        doc_id: { type: string }
        url: { type: string }
        title: { type: string }
        snippet: { type: string }
        bm25_score: { type: number }
        norm_bm25:
          type: number
          description: bm25_score normalized against this search's own candidate batch.
        semantic_sim: { type: number }
        pagerank: { type: number, description: Raw (unnormalized) link-authority score. }
        normalized_pagerank: { type: number }
        final_score: { type: number }
        bm25_terms:
          type: array
          items:
            type: object
            properties:
              term: { type: string }
              term_freq: { type: integer }
              doc_freq: { type: integer }
              doc_length: { type: integer }
              score: { type: number }
        alpha: { type: number }
        k1: { type: number }
        b: { type: number }
        pagerank_weight: { type: number }
        corrected_terms:
          type: array
          items: { $ref: "#/components/schemas/CorrectedTerm" }

    Settings:
      type: object
      properties:
        tuning:
          type: object
          properties:
            alpha: { type: number, description: "BM25 (1.0) vs. semantic (0.0) blend weight." }
            k1: { type: number }
            b: { type: number }
            pagerank_weight: { type: number }
        operational:
          type: object
          properties:
            fetch_timeout_seconds: { type: integer }
            user_agent: { type: string }
            default_max_pages: { type: integer }
            min_text_length: { type: integer }
            default_top_k: { type: integer }
            session_ttl_hours: { type: integer }
            crawl_delay_ms: { type: integer }
            max_response_kb: { type: integer }
            semantic_candidate_pool_size: { type: integer }
            db_max_open_conns: { type: integer }
            db_max_idle_conns: { type: integer }
            db_conn_max_lifetime_minutes: { type: integer }
            fuzzy_match_enabled: { type: boolean }
            fuzzy_max_edit_distance: { type: integer }
            pagerank_recompute_interval_minutes: { type: integer }
            ann_search_enabled: { type: boolean }
            max_retained_crawl_jobs: { type: integer }
            max_concurrent_crawls:
              type: integer
              description: >-
                How many crawl jobs actually fetch pages at once on
                crawl-server -- a burst of triggered jobs beyond this
                queues rather than opening unbounded concurrent
                connections and DB writes. Defaults 3. Raising or
                lowering it takes effect for the next job that starts,
                without a restart -- an already-running job keeps its
                slot until it finishes, so a lowered limit takes a little
                while to fully apply.
            default_renderer:
              type: string
              enum: [none, chromium, firefox]
              description: >-
                The crawler's global default rendering mode -- a plain HTTP
                fetch ("none", the default) or a real headless browser that
                executes the page's JavaScript and waits for it to load
                ("chromium"/"firefox"). A schedule's own renderer overrides
                this when set.
            link_scope:
              type: string
              enum: [host, domain, tld, any]
              description: >-
                The crawler's global default for how far a crawl follows
                discovered links -- "domain" (the default: the seed's
                registrable domain, including subdomains), "host" (the
                exact seed host only), "tld" (the same domain, any
                subdomain, any top-level domain), or "any" (no
                restriction). A schedule's own link_scope overrides this
                when set.
            max_document_versions:
              type: integer
              description: >-
                How many versions of a document (the current one plus its
                archived predecessors) are kept whenever a re-crawl finds
                its content has changed -- the oldest archived versions
                beyond this are pruned in the same write that archives a
                new one. A document that's never changed always has
                exactly one version regardless of this setting.
            title_weight:
              type: integer
              description: >-
                How many times a document's title is counted into its
                indexed token stream, ahead of its body -- 1 gives the
                title no extra weight (counted once, same as any body
                mention), values above 1 give it a progressively bigger
                edge in BM25 scoring. A value below 1 falls back to the
                default (2). Only takes effect for documents crawled or
                re-crawled after the change -- not retroactive.
            embedding_hash_enabled:
              type: boolean
              description: >-
                Whether the dependency-free "hash" feature-hashing
                provider is computed and stored for every document,
                independently of however many HTTP endpoints are
                separately configured and enabled (see
                /admin/api/embeddings/endpoints). embedding_search_weights
                below just picks which of the currently-enabled
                provider(s), and how heavily, search reads. NOT applied
                live -- read once at process startup, since enabling a
                provider that wasn't running before requires constructing
                its embedder and sizing its own pgvector column/index.
            embedding_search_weights:
              type: object
              additionalProperties: { type: number }
              description: >-
                Maps a provider -- the literal "hash" or an enabled HTTP
                endpoint's id (see /admin/api/embeddings/endpoints) -- to
                its weight in the search-time semantic score. A provider
                absent, or present with weight <= 0, doesn't contribute; a
                search blends every remaining provider's cosine similarity
                by its weight, normalized to sum 1 (so {"hash": 1, "ionos":
                1} weighs them equally, the same as {"hash": 10, "ionos":
                10} would). Any GET /search or GET /admin/api/search
                request may override this map entirely for itself via its
                own `semantic` query parameter. Self-healed (drops an
                entry naming a provider that isn't currently
                enabled/configured, falling back to hash or the first
                enabled endpoint if nothing survives) wherever this value
                and the live endpoint list are read together, not as a
                POST-time field validation -- validity depends on the
                dynamically configured endpoint list, not a fixed enum.
                Doesn't require a restart or a recompute to take effect
                once every weighted provider is already being kept warm --
                it's just choosing which already-current stored vectors to
                read and how to blend them. Weighting in a provider that
                was previously unweighted (so it has no stored vectors
                yet, or stale ones) dilutes the blend with noise for its
                share until it's been enabled long enough to catch up, or
                an explicit recompute brings it current immediately.
            embedding_title_weight:
              type: number
              format: double
              description: >-
                Blends a document's title into its stored embedding as a
                weighted combination of two separate Embed calls --
                titleWeight*titleVector + (1-titleWeight)*bodyVector --
                rather than a single call against a concatenated
                title+body string, whose title contribution most pooling
                strategies dilute to near-nothing once a body runs more
                than a few dozen tokens. Clamped to [0,1]: 0 (unlike every
                other field here, a real, meaningful value, not "unset")
                skips the extra Embed call and embeds the body alone; 1
                embeds the title alone. Doubles Embed call volume against
                any enabled HTTP endpoint whenever non-zero -- free for
                "hash", a local computation with no rate limit of its own.
                Only takes effect for documents crawled, re-crawled, or
                explicitly recomputed after the change -- not retroactive.
            url_alias_www_enabled:
              type: boolean
              description: >-
                When crawling a page, folds a leading "www." off its host
                before deciding its canonical identity, so
                www.example.com/x and example.com/x are always the same
                document (stored under the bare-domain URL) -- never
                crawled or indexed twice. Defaults true. Only affects
                future crawls; an already-indexed www/bare-domain
                duplicate pair from before this was enabled (or before it
                existed) is found and merged separately by content dedup,
                not retroactively by this setting.
            content_dedup_enabled:
              type: boolean
              description: >-
                Whether the periodic content-dedup pass (cmd/crawl's
                ticker, plus a post-crawl trigger, plus GET/POST
                /admin/api/content-dedup/recompute) actually merges
                duplicate/near-duplicate documents. Defaults false: a merge
                deletes the losing documents' own rows, so this is opt-in
                rather than on by default like url_alias_www_enabled.
            content_dedup_method:
              type: string
              enum: [exact, simhash]
              description: >-
                "exact" matches only byte-identical normalized text (a
                sha256 content hash); "simhash" additionally matches
                near-duplicates within content_dedup_simhash_max_distance
                Hamming distance of each other's SimHash fingerprint.
                Defaults "exact"; an invalid value self-heals to "exact" on
                the next save.
            content_dedup_simhash_max_distance:
              type: integer
              description: >-
                Max SimHash Hamming distance (out of 64 bits) still
                considered a near-duplicate match -- only used when
                content_dedup_method is "simhash". Defaults 3, clamped to
                [1,10].
            content_dedup_interval_minutes:
              type: integer
              description: >-
                How often cmd/crawl's ticker runs an automatic content-dedup
                pass, independent of the post-crawl trigger and any
                explicit "recompute now" click. Defaults 120, floored at 15
                -- coarser than pagerank_recompute_interval_minutes's
                60/5, since this is a heavier, destructive pass.

    Overrides:
      type: object
      properties:
        blocked_terms: { type: array, items: { type: string } }
        boosted_terms:
          type: object
          additionalProperties: { type: number }
        blocked_domains: { type: array, items: { type: string } }
        boosted_domains:
          type: object
          additionalProperties: { type: number }

    PageRankStats:
      type: object
      properties:
        total_docs: { type: integer }
        min_pagerank: { type: number }
        max_pagerank: { type: number }
        avg_pagerank: { type: number }
        damping: { type: number, description: "Fixed algorithm constant (domain.PageRankDamping), not configurable." }
        max_iterations: { type: integer, description: "Fixed algorithm constant (domain.PageRankMaxIterations)." }
        epsilon: { type: number, description: "Fixed convergence threshold (domain.PageRankEpsilon)." }
        pagerank_weight: { type: number, description: "The Tuning page's blend weight -- how much this feeds into search ranking." }
        recompute_interval_minutes: { type: integer, description: "The Tuning page's automatic recompute interval." }
        recompute_in_progress:
          type: boolean
          description: >-
            Whether a recompute is currently running, triggered by anything
            -- another admin's "force recalculation" click (possibly on a
            different admin-server instance), the periodic ticker, or a
            post-crawl trigger -- not just this request's own caller.
        last_recomputed_at:
          type: string
          format: date-time
          description: When the last completed recompute finished. Absent if none has ever run on this instance.
        last_recompute_documents: { type: integer, description: How many documents that run scored. }
        last_recompute_iterations: { type: integer, description: How many iterations that run took. }
        last_recompute_final_delta: { type: number, description: That run's final convergence delta. }
        last_recompute_duration_ms: { type: integer, description: "Wall-clock time that run took, covering the link-graph read, the algorithm, and writing scores back." }

    PageRankRecomputeResult:
      type: object
      properties:
        documents: { type: integer, description: "How many documents got a freshly computed score." }
        iterations: { type: integer, description: "How many iterations this run actually took." }
        final_delta: { type: number, description: "Total absolute score change on the final iteration." }
        duration_ms: { type: integer }
        min_pagerank: { type: number }
        max_pagerank: { type: number }
        avg_pagerank: { type: number }

    EmbeddingRecomputeStatus:
      type: object
      properties:
        total_docs: { type: integer, description: "Current corpus size, from CorpusStats -- not necessarily what the last run processed if the corpus has changed since." }
        in_progress:
          type: boolean
          description: >-
            Whether a recompute is currently running, triggered by anything
            -- another admin's click (possibly on a different admin-server
            instance), not just this request's own caller.
        last_run_at:
          type: string
          format: date-time
          description: When the last completed run finished. Absent if none has ever run on this instance.
        documents: { type: integer, description: "How many documents that run successfully re-embedded." }
        failed: { type: integer, description: "How many documents that run failed to re-embed (a flaky endpoint, a rate limit, a since-deleted document) -- logged, not fatal to the run." }
        duration_ms: { type: integer }

    ContentDedupStatus:
      type: object
      properties:
        in_progress:
          type: boolean
          description: >-
            Whether a recompute is currently running, triggered by anything
            -- cmd/crawl's periodic ticker, a post-crawl trigger, or an
            admin's "recompute now" click on any process -- not just this
            request's own caller.
        last_run_at:
          type: string
          format: date-time
          description: When the last completed run finished. Absent if none has ever run on this instance.
        groups_found: { type: integer, description: "How many duplicate/near-duplicate groups that run merged." }
        documents_merged: { type: integer, description: "Total non-canonical documents removed across every merged group." }
        duration_ms: { type: integer }

    AliasGroupsResponse:
      type: object
      properties:
        total: { type: integer, description: "Total number of canonical documents with at least one alias, independent of this page's limit/offset." }
        groups:
          type: array
          items:
            type: object
            properties:
              canonical_id: { type: string }
              canonical_url: { type: string }
              aliases:
                type: array
                description: >-
                  Every alias of this canonical document, from any reason --
                  ordinary canonical_tag bookkeeping recorded during
                  crawling (no document was ever created for that URL) as
                  well as an actual content_exact/content_simhash merge (a
                  document row WAS deleted). Conflating the two under one
                  undifferentiated list is why each alias carries its own
                  reason rather than the group as a whole.
                items:
                  type: object
                  properties:
                    url: { type: string }
                    reason:
                      type: string
                      enum: [canonical_tag, content_exact, content_simhash]

    EmbeddingCandidateRequest:
      type: object
      description: >-
        A not-yet-saved (or being-edited) HTTP endpoint config, as probed
        by POST .../models and POST .../test -- just the fields a real
        Embed/ListModels call needs, independent of whether this candidate
        is ultimately saved as a new endpoint or an edit to an existing one.
      properties:
        id:
          type: string
          description: >-
            The already-saved endpoint this candidate is editing, if any --
            blank for a brand new endpoint. Used only to resolve a blank
            api_key to that endpoint's real stored key (see api_key's own
            description); has no other effect. Absent/blank when this
            candidate names no existing endpoint.
        base_url: { type: string, description: 'Blank means "nothing to probe" -- both endpoints return a no-op success rather than attempting a call.' }
        api_key:
          type: string
          description: >-
            Left blank when editing an already-saved endpoint whose key the
            admin didn't retype -- the endpoint add/edit page never
            re-populates this field with a stored key's real value, so a
            blank here (with id set) falls back to that endpoint's actual
            stored key rather than probing with no credentials at all. A
            non-blank value here always wins over whatever's stored.
        model: { type: string }
        dimensions: { type: integer }

    EmbeddingModelsList:
      type: object
      properties:
        models:
          type: array
          items: { type: string }
          description: Model IDs the endpoint's GET /models reports, e.g. "intfloat/e5-large-v2".
        error:
          type: string
          description: >-
            Set only when listing models was actually attempted (base_url
            was non-empty) but failed -- models stays an empty array in
            that case. Never set alongside a populated models array.

    EmbeddingConnectivityTestResult:
      type: object
      properties:
        error:
          type: string
          description: Empty on a successful connection test (or a no-op blank base_url); otherwise the probe's own error.

    EmbeddingHTTPEndpointOptions:
      type: object
      required: [name, base_url, dimensions]
      properties:
[...]
